* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.box {
    
    width: 300px;
    height: 300px;
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.box::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, blue, rgb(182, 13, 117), yellow);
    border-radius: 50%;
    animation: ani 2s infinite linear;
}

@keyframes ani {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: "";
    position: absolute;
    background: black;
    inset: 10px;
    border-radius: 50%;
    background-image: url('../Ass.html/img/spider.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}